name: master-thesis-agentic-ai-test

services:
  # ---- MOCK SERVICES ---- #

  wiremock:
    image: wiremock/wiremock:3.9.1
    ports:
      - '8081:8080' # Expose WireMock on port 8081 to avoid conflicts
    command: ['--global-response-templating']
