name: master-thesis-agentic-ai-base

x-common-build: &common-build
  context: .
  dockerfile: Dockerfile

services:
  # ---- MCPs ---- #

  # Moodle MCP
  moodle-mcp:
    image: master-thesis-agentic-ai
    build: *common-build
    ports:
      - '0.0.0.0:3003:3003'
    entrypoint: ['sh', '-c', 'pnpm run dev:moodle-mcp']
    env_file:
      - .env
    environment:
      - MOODLE_BASE_URL=http://moodle:80
      - MOODLE_USERNAME=$MOODLE_USERNAME
      - MOODLE_PASSWORD=$MOODLE_PASSWORD
      - NODE_ENV=${NODE_ENV}
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget -qO- http://127.0.0.1:3003/health >/dev/null 2>&1 || exit 1',
        ]
      interval: 3s
      timeout: 5s
      retries: 5

  # Calendar MCP
  calendar-mcp:
    image: master-thesis-agentic-ai
    build: *common-build
    ports:
      - '3004:3004'
    entrypoint: ['sh', '-c', 'pnpm run dev:calendar-mcp']
    env_file:
      - .env
    environment:
      - GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET
      - GOOGLE_REDIRECT_URI=$GOOGLE_REDIRECT_URI
      - GOOGLE_PRIVATE_REFRESH_TOKEN=$GOOGLE_PRIVATE_REFRESH_TOKEN
      - NODE_ENV=${NODE_ENV}
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget -qO- http://127.0.0.1:3004/health >/dev/null 2>&1 || exit 1',
        ]
      interval: 3s
      timeout: 5s
      retries: 5

  # ---- AGENTS ---- #

  # Moodle Agent
  moodle-agent:
    image: master-thesis-agentic-ai
    build: *common-build
    ports:
      - '1234:1234'
    entrypoint: ['sh', '-c', 'pnpm run dev:moodle-agent']
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
      - HOSTNAME=moodle-agent
      # - AI_MODEL=qwen3:4b
      - AI_MODEL=${AI_MODEL}
    depends_on:
      - moodle-mcp

  # Calendar Agent
  calendar-agent:
    image: master-thesis-agentic-ai
    build: *common-build
    ports:
      - '1235:1235'
    entrypoint: ['sh', '-c', 'pnpm run dev:calendar-agent']
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
      - HOSTNAME=calendar-agent
      # - AI_MODEL=qwen3:4b
      - AI_MODEL=${AI_MODEL}
    depends_on:
      - calendar-mcp

  # Routing Agent
  routing-agent:
    image: master-thesis-agentic-ai
    build: *common-build
    ports:
      - '3000:3000'
    entrypoint: ['sh', '-c', 'pnpm run dev:routing-agent']
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
      - AGENT_URLS=http://moodle-agent:1234,http://calendar-agent:1235
      # - AI_MODEL=qwen3:4b
      - AI_MODEL=${AI_MODEL}
    depends_on:
      - moodle-agent
      - calendar-agent

  frontend:
    image: master-thesis-agentic-ai
    build: *common-build
    ports:
      - '4200:4200'
    entrypoint: ['sh', '-c', 'pnpm run dev:frontend']
